@charset "UTF-8";
/*样式*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #EBDABC;
}

#Canvas {
  width: 1004px;
  height: 600px;
  background: #EBDABC;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#Canvas:after {
  content: "";
  display: block;
  clear: both;
}

#canvas, #canvas-outline {
  float: left;
  margin: 75px 25px 0px 25px;
}

canvas {
  display: block;
  border: 0px solid #000;
}
